<details><summary style="display:list-item; font-size:16px; color:blue;">Jupyter Help</summary>
    
Having trouble testing your work? Double-check that you have followed the steps below to write, run, save, and test your code!
    
[Click here for a walkthrough GIF of the steps below](https://static-assets.codecademy.com/Courses/ds-python/jupyter-help.gif)

Run all initial cells to import libraries and datasets. Then follow these steps for each question:
    
1. Add your solution to the cell with `## YOUR SOLUTION HERE ## `.
2. Run the cell by selecting the `Run` button or the `Shift`+`Enter` keys.
3. Save your work by selecting the `Save` button, the `command`+`s` keys (Mac), or `control`+`s` keys (Windows).
4. Select the `Test Work` button at the bottom left to test your work.

![Screenshot of the buttons at the top of a Jupyter Notebook. The Run and Save buttons are highlighted](https://static-assets.codecademy.com/Paths/ds-python/jupyter-buttons.png)

Setup

In [2]:
import pandas as pd
vehicles = pd.read_csv('vehicles.csv')
vehicles.head()

,id,model,year,transmission,manufacturer,vehicle_type,fuel,fuel_configuration,best_mpge
0,12988,amg e53 4matic+ (convertible),2022,auto,mercedes-benz,sedan/wagon,hybrid electric,hybrid electric,28.0
1,689,avalanche ffv,2007,auto,chevrolet,pickup,ethanol (e85),flexible fuel,21.0
2,950,impala,2010,auto,chevrolet,sedan/wagon,ethanol (e85),flexible fuel,29.0
3,250,yukon xl ffv,2004,auto,gmc,suv,ethanol (e85),flexible fuel,18.0
4,13089,sf90 spyder,2022,auto,ferrari,sedan/wagon,plug-in hybrid electric,hybrid electric,19.0

1. The average of `best_mpge` is about `40`. Create a Boolean mask to check each row for a `best_mpge` greater than `40`. Assign the mask to the variable `gt40`.

In [4]:
## YOUR SOLUTION HERE ##
gt40 = vehicles['best_mpge'] > 40
gt40

0       False
1       False
2       False
3       False
4       False
        ...
2515    False
2516    False
2517    False
2518    False
2519     True
Name: best_mpge, Length: 2520, dtype: bool

2. Use the comparison `gt40` from the last checkpoint to filter `vehicles` down to only rows with above average `best_mpge`. Assign the result to `above_average`.

In [10]:
## YOUR SOLUTION HERE ##
above_average = vehicles[gt40] 

# show output
above_average.head()

,id,model,year,transmission,manufacturer,vehicle_type,fuel,fuel_configuration,best_mpge
7,12875,avalon hybrid,2022,auto,toyota,sedan/wagon,hybrid electric,hybrid electric,43.0
10,10539,fortwo,2013,unknown,smart,sedan/wagon,electric,dedicated,112.0
16,11948,optima plug-in hybrid,2018,auto,kia,sedan/wagon,plug-in hybrid electric,hybrid electric,103.0
19,12035,cruze,2019,auto,chevrolet,sedan/wagon,biodiesel (b20),dedicated,48.0
21,11909,fusion hybrid fwd,2018,auto,ford,sedan/wagon,hybrid electric,hybrid electric,43.0

3. Complete the code to filter `vehicles` down to only those rows where `transmission` is equal to `auto`. Assign the result to `auto_transmission`.

In [16]:
## YOUR SOLUTION HERE ##

auto_transmission = vehicles[vehicles['transmission'] == 'auto']

# show output
auto_transmission.head()

,id,model,year,transmission,manufacturer,vehicle_type,fuel,fuel_configuration,best_mpge
0,12988,amg e53 4matic+ (convertible),2022,auto,mercedes-benz,sedan/wagon,hybrid electric,hybrid electric,28.0
1,689,avalanche ffv,2007,auto,chevrolet,pickup,ethanol (e85),flexible fuel,21.0
2,950,impala,2010,auto,chevrolet,sedan/wagon,ethanol (e85),flexible fuel,29.0
3,250,yukon xl ffv,2004,auto,gmc,suv,ethanol (e85),flexible fuel,18.0
4,13089,sf90 spyder,2022,auto,ferrari,sedan/wagon,plug-in hybrid electric,hybrid electric,19.0